parameters:
- name: succeed
  displayName: Succeed or fail
  type: boolean
  default: false

trigger:
- main

pool:
  vmImage: ubuntu-latest

jobs:
- job: Work
  steps:
  - script: echo "Hello, world!"
    displayName: 'Run a one-line script'

  # Ce step échoue seulement si le paramètre succeed est false
  - script: git clone malformed input
    condition: eq(${{ parameters.succeed }}, false)

- job: ErrorHandler
  dependsOn: Work
  condition: failed()
  steps:
  - script: echo "Le job Work a échoué !"
    displayName: 'Print message on failure'
